$font-a: roboto;
$font-b: ubuntu;

$black: #0e0d0d;
$white: #f7f7f7;
$main: #104750;
$secondary: #cfe93b;


*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    font-size:16px;
    font-family:$font-a;
    color:$black;
    background:$white;
}

.open{
    visibility:visible;
}

.closed{
    visibility:hidden;
}

.display{
    display:block;
}

.undisplay{
    display:none;
}

