@import "config";
@import "hamburger";

body{
    width:100%;
    margin:auto;
    background:$white;
    height:200vh;
}

header{
    z-index:5;
    position:absolute;
    nav{
        display:flex;
        justify-content:space-between;
        align-items:center;
        height:5rem;
        position:fixed;
        width:100%;
        padding:1rem;

        #nav-hamburger{
            z-index:10;
        }
    
        #nav-logo{
            font-family: $font-b;
            font-size: 2.5rem;
            font-weight:600;
            height:100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor:pointer;

            &__logo{
                color:$white;
            }
    
            &__logo span{
                color:$secondary;
            }
        }
    
        #nav-list{
            position:absolute;
            width:100%;
            height:100vh;
            left:0;
            top:0;
            list-style: none;
            text-align:center;
            transition: all 0.3s ease-in-out;
            background:rgba(0, 0, 0, 0.800);
            display:flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            &.open{
                transform:translateY(0);
            }

            &.closed{
                transform:translateY(-100vh);
            }

            .nav-list__item{
                padding:0.5rem;
                &.black-text{
                    border-bottom:solid 1px rgba(0, 0, 0, 0.100);
                }
            }
    
            .nav-list__a{
                color:$white;
                text-decoration: none;
                font-weight:300;

                &.black-text{
                    color:$black !important;
                    font-weight:400;
                }

                &:hover{
                    font-size: 0.9rem;
                }
            }
        }
    }
}

#hero{
    background-image: url(../Assets/hero.jpg);
    background-position: center;
    background-size: cover;
    background-color:$main;
    height:100vh;
    margin:auto;
    &-background{
        background: $main;
        background: linear-gradient(167deg, $main 10%, rgba(74,112,119,0.8298669809720763) 50%);
        height:100%;
    }   

    #info{
        border-top:solid 1px $white;
        position:relative;
        top:5rem;
        margin:0 1rem;
        padding:0.5rem 0;

        .container{
            display:flex;
            justify-content:center;
        }

        &-price{
            font-size:1.2rem;
        }

        &-currency{
            display:inline;
            width:4rem;
            background-color: rgba(0, 0, 255, 0);
            border-radius: 3px;
            border:solid 1px $grey 80%;
            font-weight:300;
            opacity:80%;
            margin-left:1rem;
        }
    }
}

#services{
    width:100%;
    top:7.5rem;
    position:absolute;
    display:flex;
    justify-content:center;
    
    #buy{
        border-radius:5px;
        background:$white;
        margin:2rem;
        width:100%;
        height:70vh;
        display:flex;
        align-items:flex-start;
        justify-content:center;
        color:$white;
        box-shadow: 0 0 2px $grey;

        .container{
            width:100%;
        }

        &-header{
            margin-bottom:1rem;
            margin-top:0.2rem;
            color:$black;
            border-bottom:1px $grey solid;
            padding:1rem;
        }

        &-form{
            display:flex;
            flex-direction:column;
            font-weight:300;
            color:$grey;
            padding:1rem;
            font-size:0.8rem;

            & .container{
                margin-bottom:1rem;
                margin-top:0.2rem;
            }

            & input{
                border:none;
                border-bottom:solid 1px $grey;
                background:none;
                color:$black;
                height:1.5rem;
                font-size:1rem;
                width:100%;
            }

            #buy-currency{
                border:none;
                float:right;
                color:$black;
                border-radius: 3px;
                border:none;
                font-weight:300;
                background:none;
                padding:2px;
            }

            #buy-submit{
                background:$secondary;
                height:2rem;
                border-radius:5px;
                color:$black;
                margin-top:2rem;

                &:hover{
                    background-color: $secondary-ascent;
                }
            }
        }

        &-converted__input{
            margin-bottom:2.2rem;
            margin-top:0.2rem;
        }

        &-wallet__input{
            margin-bottom:1rem;
            margin-top:0.2rem;
        }
    }
}