@import "config";
@import "hamburger";

body{
    font-family:$font-a;
    color:$black;
    background:$white;
    height:150vh;
}

header{
    z-index:5;
    position:absolute;
    nav{
        display:flex;
        justify-content:space-between;
        align-items:center;
        height:5rem;
        position:fixed;
        width:100%;
        padding:1rem;
    
        #nav-logo{
            font-family: $font-b;
            font-size: 3rem;
            font-weight:600;
            height:100%;
            display:flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor:pointer;

            &__logo{
            }
    
            &__logo span{
                color:$secondary;
            }
        }
    
        #nav-list{
            position:absolute;
            width:50%;
            left:25%;
            top:6rem;
            list-style: none;
            text-align:center;
            padding:1rem;
            display:none;
    
            .nav-list__item{
                border-bottom:solid 1px rgba(255, 255, 255, 0.100);
                padding-bottom:0.5rem;
                padding-top:1rem;
            }
    
            .nav-list__item a{
                color:$white;
                text-decoration: none;
                font-weight: lighter;

                &:hover{
                    color:$third;
                    font-weight:500;
                    text-shadow: 0px 0px 1px $third 30%;
                }
            }
        }
    }
}

#hero{
    background-image: url(https://images.unsplash.com/photo-1518546305927-5a555bb7020d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1949&q=80);
    background-position: center;
    background-size: cover;
    height:100vh;
    clip-path: polygon(0 0, 100% 0, 100% 95%, 0 66%);

    &-background{
        background: $main;
        background: linear-gradient(167deg, rgb(16, 71, 80) 10%, rgba(74,112,119,0.8298669809720763) 50%);
        height:100%;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 66%);

    }

    #info-bar{
        border-top:solid 1px $white;
        opacity:75%;
        position:relative;
        top:5rem;
        margin:0 1rem;
        padding:0.5rem 0;
    }
}
